body {
	background-image: url("/-/images/blue.jpg");
	background-size: cover;
}

h1 {
	font-family: fantasy;
	font-size: 6em;
	font-weight: bold;
}

h2 {
	font-family: Helvetica;
	font-size: 4em;
	font-style: italic;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	
}

#jumbotron {
	padding-top: 30px;
}

#title {
	position: relative;
	top: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(1deg);
}

.nav-container {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: black;
}

.nav-container * {
	color: white;
	text-align: center;
}

.nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding-top: 20;
    padding-bottom: 20;
    text-align:center;
}

.nav li {
    display:inline;
}

.nav a {
    display:inline-block;
}

#nav-bar a {
	font-size: 1.2em;
	padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-bar a:hover {
	background-color: white;
	color: black;
}


