body {
	background-image: url("/-/images/blue.jpg");
	background-size: cover;
}

h1 {
	font-family: fantasy;
	font-size: 6em;
	font-weight: bold;
}

h2 {
	font-family: Helvetica;
	font-size: 4em;
	font-style: italic;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	
}

a, a:link, a:visited, a:active { 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

.jumbotron {
	
}

.list-inline * {
	display: inline;
}

.list-inline li {
	padding-left: 30px;
}

.title {
	position:relative;
	top: 400;
}

.nav-container {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}



